CovidSOAPClient/xml-resources/web-service-references/CovidWebService/wsdl/localhost_8080/CovidWDSOAP/CovidWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="findBySeq" type="tns:findBySeq"/>

<xs:element name="findBySeqResponse" type="tns:findBySeqResponse"/>

<xs:element name="weeklyDeath" type="tns:weeklyDeath"/>

<xs:complexType name="findBySeq">
<xs:sequence>
<xs:element name="seq" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBySeqResponse">
<xs:sequence>
<xs:element name="return" type="tns:weeklyDeath" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weeklyDeath">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"/>
<xs:element name="ageRange" type="xs:string" minOccurs="0"/>
<xs:element name="deathCluster" type="xs:string" minOccurs="0"/>
<xs:element name="occupation" type="xs:string" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="seq" type="xs:int" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int" minOccurs="0"/>
<xs:element name="year" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>